{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <h1>Internship Opportunities</h1>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Accenture</a></li>
    <li><a class="dropdown-item" href="#">Google</a></li>
    <li><a class="dropdown-item" href="#">L3Harris</a></li>
  </ul>
</div>
{% endblock %}